body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/background.jpg') no-repeat center center;
    background-size: cover;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}

nav ul li a.current {
    font-weight: bold;
    background-color: #04AA6D;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

main img {
    display: block;
    max-width: 100%;
    margin: 0 auto 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
}


/* Top Navigation Bar */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Links inside the nav */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Hover effect for links */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Highlight the active page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hamburger icon hidden by default */
.topnav .icon {
  display: none;
}

/* Responsive for small screens */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* Show menu vertically when clicked */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
